<b>{{{actor}}}</b> pushed to <a href="{{{repo_url}}}">{{repo_name}}</a>

{{commits_count}} to  <a href="{{{branch_url}}}">{{branch}}</a>
{{#commits}}
<a href="{{commit_url}}">{{commit_sha}}</a> • {{commit_message}}
{{/commits}}

{{status}}
